.globalStyle{
    --inputHeight: 1.4375em;
}

.rootInactive{
    --inputColorMain: rgba(0,0,0,.38);
    --inputColorSecond: rgba(0, 0, 0, 0.6);
    --borderWeight: 1px;
}

.rootActive{
    --inputColorMain: #458DEC;
    --inputColorSecond: rgba(0, 0, 0, 0.6);
    --borderWeight: 2px;
}

.rootError{
    --inputColorMain: #BE0000 !important;
    --inputColorSecond: #be0000 !important;
}

.disabledCss{
    --inputColorMain: rgba(0, 0, 0, 0.377);
    --inputColorSecond: rgba(0, 0, 0, 0.377);
    --inputColorText: rgba(0, 0, 0, 0.377);
    --borderWeight: 1px;
}

.matUiInput{
    width:100%;
    position: relative;
    margin-top: 6px;
}

.matUiinputCont{
    width:100%;
    position: relative;
    height: fit-content
}

.matUiInputWTrailIcon{
    padding: 16.5px 48px 16.5px 14px !important;
}

.matUiInput input{
    width: -webkit-fill-available;
    height: var(--inputHeight);
    padding: 16.5px 15px;
    margin: 0;
    box-sizing: content-box;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    background: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--inputColorText,#000000);
}

.matUiInputBorderCont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    inset: -6px 0 0 0;
    padding: 0 0 0 6px;
    border-radius: 6px;
    border: var(--borderWeight) solid var(--inputColorMain);
    background: transparent;
    z-index: 1;
    pointer-events: none;
}

.matUiInputLabel{
    position: absolute;
    left: 12px;
    top: 50%;
    transition: 0.15s;
    font-size: 1rem;
    transform-origin: left;
    color: var(--inputColorSecond);
    z-index: 1;
    background: transparent;
    pointer-events: none;
}

.matUiInputSpanSeparator{
    padding: 0 4px;
    visibility: hidden;
    font-size: 0.75em;
    display: inline-block;
}

.matUiInputLegendCont{
    height: 12px;
}

.matUiInputLowerMargin{
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}

.matUiHelperText{
    font-size: 14px;
    color: var(--inputColorSecond);
    margin-right: auto;
}

.matUiCharCount{
    font-size: 14px;
    color: var(--inputColorSecond);
    margin-left: auto;
}

.matUiInputTrailingIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: initial;
    right: 16px
}

.matUiInputLeadingIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: initial;
    left: 16px
}